# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.i
ni
.d/
.ccls-cache
.idea

compile_commands.json
# make.sh

venv
